/* -------------------------------------------------------------------------- */
/*                                   Colors                                   */
/* -------------------------------------------------------------------------- */
/* ----------------------------- Color Variables ---------------------------- */
$main-bg: #131313;
$component-bg: #1d1d1d;
$positive: #4ecb71;
$negative: #cb4e4e;
$neutral: #cacaca;
$tdp-list: #fc1ad6;
/* -------------------------------------------------------------------------- */

/* ------------------------------- Color Maps ------------------------------- */
$main-color-map: (
    lighter: lighten(#7673f6, 15),
    default: #7673f6,
    darker: darken(#7673f6, 10),
);

$info-color-map: (
    artists: #81ff87,
    demos: #81dbff,
    releases: #e681ff,
);

$type-color-map: (
    trap: rgb(51, 82, 255),
    dnb: rgb(111, 221, 255),
    techno: rgb(253, 124, 253),
    dubstep: rgb(255, 83, 83),
    rap: rgb(255, 180, 82),
    fb: rgb(119, 255, 107),
    ph: rgb(255, 255, 255),
    preview: rgb(202, 202, 202),
);
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/* ---------------------------------- Sizes --------------------------------- */
$fontsize-map: (
    smaller: 12px,
    default: 14px,
    bigger: 16px,
);
$radius-map: (
    smaller-comp: 4px,
    small-comp: 6px,
    medium-comp: 8px,
    default: 10px,
);
/* -------------------------------------------------------------------------- */

/* ---------------------------------- Fonts --------------------------------- */
@font-face {
    font-family: main-font;
    src: url("/assets/fonts/AgencyFB.ttf");
}
/* -------------------------------------------------------------------------- */
